<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>到着報告</title>
  <link rel="stylesheet" href="css/common.css" />
  <link rel="stylesheet" href="css/arrivalReport.css" />
</head>
    <body>
    <header>到着報告</header>
    <main class="form-container">
        <form id="train-tab" action="/submit-train-delay" method="post">
        <div class="arrival-time">
            <label>到着時間: <input type="time" name="arrival_time" required /></label>
        </div>
        <div class="arrival-time">
            <label>遅刻時間: <input type="time" name="arrival_time" required /></label>
        </div>
        <div class="submit-section">
            <button type="submit">送信</button>
        </div>
        </form>
    </main>
    <footer>&copy; 2025 遅刻報告アプリ</footer>
    </body>
</html>
