<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>遅刻報告アプリ - メニュー</title>
  <link rel="stylesheet" href="css/common.css" />
  <link rel="stylesheet" href="css/main.css" />
</head>

<body>
  <header>
    遅刻報告アプリ
    <p>ようこそ、<span th:text="${empLname}">姓</span> <span th:text="${empFname}">名</span>
      さん</p>
    </span>
  </header>

  <main>
    <a class="menu-button" href="/late-arrival-report">遅刻報告</a>
    <a class="menu-button" href="/arrival-report-alias">到着報告</a>
    <a class="menu-button" href="/history">照会</a>
  </main>

  <footer>&copy; 2026 遅刻報告アプリ</footer>
</body>

</html>